.container {
  display: flex;
  flex-direction: column;
  width: 45rem;
  margin: 0 auto;
  margin-top: 3rem;
}

.header {
  height: 6rem;
  background-color: black;
  width: 100%;
  border-radius: 6px 6px 0 0;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
}

.userList {
  height: 25rem;
  background: #171726;
  border-radius: 0 0 6px 6px;
  padding: 1rem;
}

.submitButton {
  padding: 1rem;
  background-color: #5f618e;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  transition: 200ms ease-in-out;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: medium;

  width: 15rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.removeMemberButton {
  background-color: transparent;
  border: none;
  position: absolute;
}

.userList p {
  color: aliceblue;
}

.user {
  width: fit-content;
  position: relative;
  background-color: transparent;
  border: none;
}

.user img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.user p {
  position: absolute;
  bottom: -20px;
  color: white;
  text-align: center;
  margin: 0 auto;
}
